* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    display: grid;
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    height: 60vmin;
    width: 30%;
    margin: 1em auto 0;
    display: grid;
    grid-template: 2fr 2fr / 2fr 2fr;
    cursor: pointer;
}


button {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}


#start-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
    top: 200px;
    left: 540px;
}

#red {
    background-color: rgb(218, 75, 75, .5);
    border-top-left-radius: 100%;
}

#green {
    background-color: rgb(79, 135, 79, .5);
    border-top-right-radius: 100%;
}

#blue {
    background-color: rgb(83, 83, 255, .5);
    border-bottom-left-radius: 100%;
}

#purple {
    background-color: rgb(102, 5, 102, .5);
    border-bottom-right-radius: 100%;
}







/* #playAgainBtn {
    color: rgb(169, 18, 18);
}

h1 {
    text-align: center;
}

.sideNav {
    height: 100%;
    margin-left: 0;
    width: 8em;
    position: fixed;
}

.sideNav2 {
    text-align: right;
    margin: 0;
}

#red {
    background-color: rgb(151, 11, 11, .5);
    border-top-left-radius: 100%;
}

#green {
    background-color: rgb(1, 81, 1, .5);
    border-top-right-radius: 100%;
    
}

#blue {
    background-color: rgb(7, 7, 172, .5);
    border-bottom-left-radius: 100%;   
}

.blueFlash {
    background-color: blueviolet;
}

#purple {
    background-color: rgb(87, 2, 87, .5);
    border-bottom-right-radius: 100%;
    
}
.colorBtns  {
    height: 60vmin;
    width: 40%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 2fr 2fr;   
}

footer {
    display: flex;
    justify-content: center;
}

#levelBtn {
    position: relative;
    pointer-events: none;
}; */
