h1 {
    text-align: center;
}

.sidenav {
    height: 100%;
    margin-left: 0;
    width: 8em;
    position: fixed;
}

h3 {
    text-align: right;
    margin: 0;
}

#red {
    background-color: rgb(151, 11, 11, .5);
}

#green {
    background-color: rgb(1, 81, 1, .5);
    
}

#blue {
    background-color: rgb(7, 7, 172, .5);
    
}

#purple {
    background-color: rgb(87, 2, 87, .5);
    
}
.colorBtns  {
    height: 60vmin;
    width: 40%;
    margin: 1em auto 1em;
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* grid-template: 2fr 2fr / 2fr 2fr; */
    
}

footer {
    display: flex;
    justify-content: center;
}

